<br /><br />
<div class="col-xs-10 col-xs-offset-1">
<%= simple_form_for @app do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit, 'Enter new app', class: 'btn btn-primary' %>
  <br /><br />
<% end %>
</div>


<br /><br />
<div class="col-xs-10 col-xs-offset-1">
  <h2>All apps</h2>
  <% @apps.each do |n| %>
  <blockquote>
    <b><%= n.name %></b>
    <br />
    <%= n.description %>
  </blockquote>
    <br /><br />
  <% end %> 
</div>
